<%-include('parts/header.ejs') %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div
  style="margin-right: auto; margin-left: auto"
  class="alert alert-danger w-50 text-center"
  role="alert"
>
  Wrong Email or Password !!!
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<%-include('parts/footer.ejs') %>
